/* =========================================================================== */
/* ================================= LAYOUT  ================================= */
/* =========================================================================== */

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 8px;
}

.card:hover {
  background-color: #e9e7e7;
}

/* =========================================================================== */
/* ================================= Buttons ================================= */
/* =========================================================================== */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  /* margin: 0px 1px; */
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  /* padding: 14px 14px; */
  background-color: #f44336;
}

.publishbtn {
  /* padding: 14px 14px; */
  background-color: #36c8f4;
}

/* Float cancel and editbtn buttons and add an equal width */
.cancelbtn,
.editbtn,
.publishbtn {
  float: left;
  width: 33.33%;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

  .cancelbtn,
  .editbtn,
  .publishbtn {
    width: 100%;
  }
}

/* =========================================================================== */
/* =================================  IMAGE  ================================= */
/* =========================================================================== */









/* =========================================================================== */
/* ===============================  STEALING  ================================ */
/* =========================================================================== */
.thumbnail img {
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.post-card-content .location>h1 {
  position: relative;
  top: -34px;
  left: 0;
  background: #282c21ab;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.post-card-content .title {
  margin: 0;
  padding: 0 0 14px;
  color: #e74c3c;
  font-size: 26px;
  font-weight: 700;
}

.post-card-content .description {
  /* display: none; */
  color: #030303;
  font-size: 14px;
  line-height: 1.8em;
  font-family: sans-serif !important;
  text-align: justify !important;
  padding: 0px 15px 0px 10px;
}

.fa-align-text-center {
  display: inline;
  /* padding: 0px; */
  padding-top: 25px;
}

.iii {
  font-size: 18px;
  padding-right: 10px;
}

.Link-Text {
  color: white;
  font-size: 24px;
}

.readmorebtn {
  float: left;
  width: 100%;
  background-color: #28434b;
}

.Link-Text:hover {
  color: whitesmoke;
  background-color: #28434be7;
}